.display-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;

  height: 342px;
  margin: 19px;

  color: #ffff;
}

.input {
  font-size: 55px;

  text-align: end;
  width: 100%;

  word-wrap: break-word;
}
