@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  font-family: 'Poppins';
  font-weight: 400;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}
